<% if @post.user.image? %>
  <%= image_tag @post.user.image.url, :size => '100x100' %>
<% else %>
  <%= image_tag "/assets/no_image.jpg", :size => '100x100' %>
<% end %>
<% unless @post.post_image.present? %>
  <%= attachment_image_tag @post, :post_image, :size => '100x100' %>
<% end %>
<%= @post.user.name %>
<%= @post.value %>
<%= @post.body %>
<div class="dropdown">
  <!-- 切替ボタンの設定 -->
  <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
  <!-- ドロップメニューの設定 -->
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% if current_user.id == @post.user.id %>
      <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
      <%= link_to "報告", report_path(@post.id), method: :patch, "data-confirm" => "本当に報告しますか？" %>
    <% else %>
      <%= link_to "報告", report_path(@post.id), method: :patch, "data-confirm" => "本当に報告しますか？" %>
    <% end %>
  </div>
</div>