<% if @post.user.image? %>
  <%= image_tag @post.user.image.url, :size => '100x100' %>
<% else %>
  <%= image_tag "/assets/no_image.jpg", :size => '100x100' %>
<% end %>
<%= @post.user.name %>
<%= @post.value %>
<%= @post.body %>
コメント数：<%= @post.post_comments.count %>
<%= @post.favorites.count %>
<div class="dropdown">
  <!-- 切替ボタンの設定 -->
  <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
  <!-- ドロップメニューの設定 -->
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
    <%= link_to "報告取消", admins_cancel_report_path(@post.id), method: :patch, "data-confirm" => "報告を取り消しますか？" %>
  </div>
</div>
<% @post.post_comments.each do |post_comment| %>
  <% if @post.user.image? %>
    <%= image_tag @post.user.image.url, :size => '100x100' %>
  <% else %>
    <%= image_tag "/assets/no_image.jpg", :size => '100x100' %>
  <% end %>
  <%= post_comment.user.name %>

<%= post_comment.comment %>
<% end %>