<div class = "row">
  <div class = "col-md-2">
    <% if post.user.image? %>
      <%= image_tag asset_path(post.user.image.url), :size => '50x50' %>
    <% else %>
      <%= image_tag asset_path('no_image.jpg'), :size => '50x50' %>
    <% end %>
  </div>
  <div class = "col-md-5">
    <%= post.user.name %>
  </div>
</div>
<%= link_to admins_post_path(post.id) do %>
  <div class = "row">
    <div class = "offset-md-1 col-md-10" style = "border-top:1px solid limegreen; border-bottom:1px solid limegreen;">
      <div class = "col-md-12 mb-3">
        <%= post.title %>
      </div>
    </div>
  </div>
  <div class = "offset-md-1 col-md-10">
    <div class = "row">
      <div class = "col-md-2">
        返信数：<%= post.post_comments.count %>
      </div>
      <div class = "offset-md-8">
        いいね数：<%= post.favorites.count %>
      </div>
    </div>
  </div>
<% end %>