<% if user.point == nil %>
  <% user.point = 0 %>
<% end %>
<% if user.point - post.value < 0 %>
  ポイントが足りません
<% else %>
  <h3>支払い後のポイント：<%= user.point - post.value %></h3>
  <%= form_for @order do |f| %>
		<%= f.hidden_field :user_number, value: post.user_id %>
		<%= f.hidden_field :post_number, value: post.id %>
		<%= f.hidden_field :name, value: post.user.name %>
		<%= f.hidden_field :image, value: post.user.image %>
		<%= f.hidden_field :title, value: post.title %>
		<%= f.hidden_field :value, value: post.value %>
		<%= f.hidden_field :comment_count, value: post.post_comments.count %>
		<%= f.hidden_field :favorite_count, value: post.favorites.count %><br>
		<%= f.submit '購入', class: 'btn btn-outline-success' %>
	<% end %>
<% end %>