<!DOCTYPE html>
<html>
  <head>
    <title>ShareBuys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  </head>

  <body style = "background-color:#e6ffe9;">
    <header class = "sticky-top" style = "height:60px;background-color:#afeebd;border:1px solid palegreen;">
      <div class = "row">
        <div class = "col-md-5">
          <%= render 'layouts/template/dropdown_header' %>
        </div>
        <div class = "col-md-5">
          <%= render 'layouts/template/logo_header' %>
        </div>
        <div class = "col-md-2">
          <% if user_signed_in? %>
            <%= link_to new_post_path do %>
              <h1>新規投稿</h1>
            <% end %>
          <% end %>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer class = "fixed-bottom" style = "height:60px;background-color:#afeebd;border:1px solid palegreen;">
      <div class = "offset-md-5">
        <% if current_page?(posts_path) %>
          <%= form_tag(searches_path, method: :get) do %>
            <%= text_field_tag(:word) %>
            <%= submit_tag '検索' %>
          <% end %>
        <% end %>
      </div>
    </footer>
  </body>
</html>
