<!DOCTYPE html>
<html>
  <head>
    <title>ShareBuys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header style = "height:100px;background-color:black;">
      <div class="dropdown">
        <!-- 切替ボタンの設定 -->
        <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ドロップダウンボタン
        </button>
        <!-- ドロップメニューの設定 -->
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% if user_signed_in? %>
            <%= current_user.name %>
            <%= link_to "マイページ", users_path %>
            <%= link_to "設定", setting_path %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
            <%= link_to "退会", unsubscribe_users_path(current_user) %>
          <% else %>
            <h5>ようこそ</h5>
            <%= link_to "新規登録", new_user_registration_path %>
            <%= link_to "ログイン", new_user_session_path %>
          <% end %>
        </div>
      </div>
      <%= link_to 'logo', posts_path %>
    </header><!-- /header -->
    <%= yield %>
    <footer class = "fixed-bottom" style = "height:100px;background-color:black;">
      
    </footer>
  </body>
</html>
