<div class = "container">
  <div class = "row mt-5">
    <div class = "offset-md-1">
      <h1 class = "text-success">メール・電話番号・パスワード変更画面</h1>
    </div>
  </div>
  <div class = "row mt-5">
    <div class = "offset-md-2">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field mb-3">
          <%= f.label :email, class: 'text-success' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field mb-3">
          <%= f.label :telephone, class: 'text-success' %><br />
          <%= f.telephone_field :telephone, autofocus: true, autocomplete: "telephone" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class = "text-success">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field mb-3">
          <%= f.label :password, class: 'text-success' %>
          <i class = "text-success">(変更しない場合は、空欄の状態にしてください)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %><br />
            <em class = "text-success"><%= @minimum_password_length %> 文字以上</em>
          <% end %>
        </div>

        <div class="field mb-3">
          <%= f.label :password_confirmation, class: 'text-success' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field mb-3">
          <%= f.label :current_password, class: 'text-success' %>
          <i class = "text-success">(現在のパスワードを入力してください)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="actions mb-3"><br />
          <%= f.submit "Update", class: 'btn btn-outline-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>